<!--&lt;!&ndash;<div align="center">&ndash;&gt;-->
<!--&lt;!&ndash;<h1>This is a Do page</h1>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<title>Angular 1.6 Multistep form star rating</title>-->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<!--<h1> Add Do From </h1>-->
<!--action="#" method="post"-->
<form class="rating-form" name="rating-movie">
  <div class="container">
    <!--<div class="row">-->
    <span><input type="text" id="input-name" placeholder="Do Subject"></span><span><i class="fa fa-plus-square" style="font-size:45px;color:#ff5c62; alignment:right; display: block; float: right; position: relative; bottom: 55px"></i></span>

    <br>
    <i class="fa fa-plus-circle" style="font-size:60px ; padding-right:15px; color: burlywood"></i><i class="fa fa-lightbulb" style="font-size: 60px ; color: burlywood ; padding-right: 15px"></i><i class="fa  fa-calendar-plus" style="font-size: 60px ;padding-right: 15px; color: burlywood"></i><i class="fa  fa-paperclip" style="font-size: 60px ;padding-right: 15px; color: burlywood"></i>
    <fieldset class="form-group">

      <legend class="form-legend">Rating:</legend>

      <div class="form-item">

        <input id="rating-5" name="rating" type="radio" value="5" />
        <label for="rating-5" data-value="5">
        <span class="rating-star">
          <i class="fa fa-star-half-o" ></i>
          <i class="fa fa-star" ></i>
        </span>
          <span class="ir">5</span>
        </label>
        <input id="rating-4" name="rating" type="radio" value="4" />
        <label for="rating-4" data-valuefa="4">
        <span class="rating-star">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star"></i>
        </span>
          <span class="ir">4</span>
        </label>
        <input id="rating-3" name="rating" type="radio" value="3" />
        <label for="rating-3" data-value="3">
        <span class="rating-star">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star"></i>
        </span>
          <span class="ir">3</span>
        </label>
        <input id="rating-2" name="rating" type="radio" value="2" />
        <label for="rating-2" data-value="2">
        <span class="rating-star">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star"></i>
        </span>
          <span class="ir">2</span>
        </label>
        <input id="rating-1" name="rating" type="radio" value="1" />
        <label for="rating-1" data-value="1">
        <span class="rating-star">
          <i class="fa fa-star-o"></i>
          <i class="fa fa-star"></i>
        </span>
          <span class="ir">1</span>
        </label>

        <div class="form-action">
          <input class="btn-reset" type="reset" value="Reset"/>
        </div>

        <!--<div class="form-output">-->
        <!--? / 5-->
        <!--</div>-->

      </div>

    </fieldset>
  </div>
  <div class="left">
    <br>
    <br>
    <!--<i class="fa fa-plus-square" style="font-size:45px;color:#ff5c62; alignment:right"></i>-->
    <!--<textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>-->
    <!--</div>-->
    <!--&lt;!&ndash;<input type="submit" value="Submit" id="input-submit">&ndash;&gt;-->
    <!--</form>-->
    <!--&lt;!&ndash;<i class="far fa-square" style="font-size:200px ;color:silver "></i>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;rating-----------&ndash;&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;--></div>
</form>
<!--Star-->


<!-- RATING - Form -->
<form class="rating-form" action="#" method="post" name="rating-movie">

</form>
</body>
</html>
