<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<title>Angular 1.6 Multistep form star rating</title>-->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <span><i class="fa fa-circle" style="font-size: 100px; stroke: #ff5c62; stroke-width: 30px; color: #FFF4F5; display: block; margin: auto; position: relative;"></i></span>
  <span><i class="fa fa-square" style="font-size:500px; color:#ff5c62; display: block; margin: auto; position: relative;"></i></span>
  <span><i class="fa fa-lightbulb" style="font-size: 100px; stroke: #ff5c62; stroke-width: 30px; color: #FFF4F5; display: block; margin: auto; float: right; position: relative; bottom: 300px; width: 45%;"></i></span>
  <span><i class="fa fa-play" style="font-size: 100px; stroke: #ff5c62; stroke-width: 30px; color: #FFF4F5; display: block; margin: auto; position: relative; float: right;"></i></span>
  <span><i class="fa fa-calendar-check" style="font-size: 100px; stroke: #ff5c62; stroke-width: 30px; color: #FFF4F5; display: block; margin: auto; position: relative; bottom: 300px; width: 45%;"></i></span>
</div>
</body>
</html>
