<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--<title>Angular 1.6 Multistep form star rating</title>-->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="schedule">
  <span><li class="fa fa-calendar" style="font-size: 100px; stroke: #ff5c62; stroke-width: 25px; color: #FFF4F5; display: block; margin: auto; position: relative;float: left; margin-left: 15%;"></li>
  <p style="position: relative; right: 60px; top: 30px;">D</p></span>
  <span><li class="fa fa-calendar" style="font-size: 100px; stroke: #ff5c62; stroke-width: 25px; color: #FFF4F5; display: block; margin: auto; position: relative; bottom: 91px;float: left; margin-left: 15%;"></li>
  <p style="position: relative; bottom: 60px; right: 65px;">W</p></span>
  <span><li class="fa fa-calendar" style="font-size: 100px; stroke: #ff5c62; stroke-width: 25px; color: #FFF4F5; display: block; margin: auto; position: relative;float: left; margin-left: 15%; bottom: 182px;"></li>
  <p style="position: relative; right: 63px; bottom: 150px;">M</p></span>
  <span><li class="fa fa-calendar" style="font-size: 100px; stroke: #ff5c62; stroke-width: 25px; color: #FFF4F5; display: block; margin: auto; position: relative;float: left; margin-left: 15%; bottom: 273px;"></li>
  <p style="position: relative; right: 58px; bottom: 240px;">Y</p></span>
  </div>
    <ul class="planner">
      <li class="planner border-dash">
        <p>S</p>
      </li>
      <li class="planner border-dash">
        <p>S</p>
      </li>
      <li class="planner border-dash">
        <p>M</p>
      </li>
      <li class="planner border-dash">
        <p>T</p>
      </li>
      <li class="planner border-dash">
        <p>W</p>
      </li>
      <li class="planner border-dash">
        <p>T</p>
      </li>
      <li class="planner border-dash">
        <p style=" border-bottom: none;">F</p>
      </li>
    </ul>
</div>
</body>
</html>
